body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f8ff;
    color: #333;
    min-height: 2000px;
}

.main-content {
    padding: 50px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.main-content h1 {
    color: #416788;
}
.main-content p{
    color: #396e9c;
}

/*nuevo footer particulas*/
.particles-section {
    position: relative;
    width: 100%;
    height: 300px;
    background: #4277a5;
    margin-top: 100px;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer-content {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-content p {
    margin: 8px 0;
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
    transition: all 0.3s;
    display: inline-block;
}

.social-icons a:hover {
    color: #ffcc00;
    transform: translateY(-3px);
}

/*para arriba*/
#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #81D2C7;
    color: #333;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    display: none;
    z-index: 100;
}

#backToTop:hover {
    background: #a3e2eb;
    transform: scale(1.1);
}